[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ICBioMark"]
	path = ICBioMark
	url = https://github.com/cobrbra/icbiomark
[submodule "lenght"]
	path = lenght
	url = https://github.com/cobrbra/lenght
